/* base.css : Global properties (body, common classes, etc ...) */
/* ------------------------------------------------------------ */

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color:#464f51;
}
